#footer {
    background: #2B2C2E;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
  
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #0563bb;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  
  #footer .credits {
    font-size: 13px;
  }
  
  /* Styles for screens smaller than 620px */
  @media (max-width: 620px) {
    #footer h3 {
      font-size: 28px;
    }
  
    #footer p {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  
  /* Styles for screens smaller than 320px */
  @media (max-width: 320px) {
    #footer h3 {
      font-size: 22px;
    }
  
    #footer p {
      font-size: 12px;
      margin-bottom: 20px;
    }
  
    #footer .social-links a {
      font-size: 14px;
      padding: 6px 0;
      margin-right: 2px;
      width: 28px;
      height: 28px;
    }
  }
  
  /* Styles for screens larger than 1000px */
  @media (min-width: 1000px) {
    #footer h3 {
      font-size: 42px;
    }
  
    #footer p {
      font-size: 16px;
      margin-bottom: 50px;
    }
  }